<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin-Bereich</title>
  <!-- Deine weiteren Head-Inhalte -->
</head>
<body>
  <div class="wrapper">
    <div class="content" role="main">
      <h1>Logs</h1>

      {{#if error}}
      <p class="error">{{error}}</p>
      {{else}}
      <p>Hier siehst du die letzten 20 Eintr채ge.</p>
      {{#if optionHistory.length}}
      <table>
        <tr>
          <th>Option Name</th>
          <th>Timestamp</th>
        </tr>
        {{#each optionHistory}}
        <tr>
          <td>{{choice}}</td>
          <td>{{time}}</td>
        </tr>
        {{/each}}
      </table>
      {{else}}
      <p class="error">Keine Eintr채ge!</p>
      {{/if}}
      {{/if}}

      <!-- R체ckkehr-Link zur Index-Seite -->
      <a href="/">Zur체ck zur Startseite</a>
    </div>
  </div>
</body>
</html>
